:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
  --prime-1-100: #00b9ae;
  --prime-1-80: #33c7be;
  --prime-1-20: #ccf1ef;
  --prime-2-100: #204b57;
  --prime-2-80: #4d6f79;
  --prime-2-20: #d2dbdd;
  --sec-1-100: #71278b;
  --sec-1-80: #9b6cac;
  --sec-1-20: #e0dde1;
  --sec-2-100: #137bdb;
  --sec-2-80: #3d90dd;
  --sec-2-20: #bbd0e3;
  --tertiary-100: #568ea3;
  --tertiary-80: #78a5b5;
  --tertiary-20: #dde8ed;
  --z-black: #141414;
  --black: #333333;
  --black-90: #474747;
  --black-80: #5c5c5c;
  --black-70: #707070;
  --black-60: #858585;
  --black-50: #999999;
  --black-40: #adadad;
  --black-30: #c2c2c2;
  --black-20: #d6d6d6;
  --black-10: #ebebeb;
  --white: #ffffff !important;
  --danger-80: #e96575;
  --danger-20: #fad9dc;
  --warning-80: #fad176;
  --warning-20: #fef4dd;
  --success-80: #69bf87;
  --success-20: #daefe1;
  --info-80: #91e2d7;
  --info-20: #e3f8f5;
  --link: #26d0f1;
  --letter-space: 0.15px;
  --heading-font: 'vollkern', serif;
  --running-font: 'Open Sans', serif;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #F1F9FB !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
  overflow-x: hidden;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}