/************* MEDICALJAGAT FONT GUIDELINE START HERE *************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600&display=swap');

/************* MEDICALJAGAT FONT GUIDELINE END HERE *************/

:root {
    /************* MEDICALJAGAT COLOR GUIDELINE START HERE *************/
    --prime-1-100: #00b9ae;
    --prime-1-80: #33c7be;
    --prime-1-20: #ccf1ef;
    --prime-2-100: #204b57;
    --prime-2-80: #4d6f79;
    --prime-2-20: #d2dbdd;
    --sec-1-100: #71278b;
    --sec-1-80: #9b6cac;
    --sec-1-20: #e0dde1;
    --sec-2-100: #137bdb;
    --sec-2-80: #3d90dd;
    --sec-2-20: #bbd0e3;
    --tertiary-100: #568ea3;
    --tertiary-80: #78a5b5;
    --tertiary-20: #dde8ed;
    --z-black: #141414;
    --black: #333333;
    --black-90: #474747;
    --black-80: #5c5c5c;
    --black-70: #707070;
    --black-60: #858585;
    --black-50: #999999;
    --black-40: #adadad;
    --black-30: #c2c2c2;
    --black-20: #d6d6d6;
    --black-10: #ebebeb;
    --white: #ffffff !important;
    --danger-80: #e96575;
    --danger-20: #fad9dc;
    --warning-80: #fad176;
    --warning-20: #fef4dd;
    --success-80: #69bf87;
    --success-20: #daefe1;
    --info-80: #91e2d7;
    --info-20: #e3f8f5;
    --link: #26d0f1;
    --letter-space: 0.15px;
    --heading-font: 'vollkern', serif;
    --running-font: 'Open Sans', serif;
    /************* MEDICALJAGAT COLOR GUIDELINE END HERE *************/
}

body {
    background-color: #F1F9FB !important;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
*, ::after, ::before {
  box-sizing: border-box;
  overflow-x: hidden;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}